
*{
    font-family: arial;
}
body{
    background-color: #C8C8C8;
}
#left-container,
#right-container{
    font-size: large;
    align-items: center;
    text-align: center;
    width: 400px;
    height: 250px;
    position: relative;
    padding: 20px;
    margin: auto;
}
#left-container{
    background-color:#02034A;
    border-radius: 30px;
    z-index: 1;
    color: white;

}
#right-container{
    margin-top: -30px;
    background-color: #F6F7FB;
}
#submit{
    margin-top: 20px;
    width: 150px;
    height: 30px;
    border-radius:10px;
}
#submit:active{
    background-color: #8a8b87;
    color: white;
}

#creditamt,
#monthcnt,
#percent{
    float: right;
    margin-right:30px;
}